html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    --scale: 1vw;
    background-color: black;
}

.container {
    aspect-ratio: 2 / 1;
    /* width: 100%; */
    max-width: 100vw;
    max-height: 100vh;
    background-color: lightgray;
    display: grid;
    grid-template-rows: calc(var(--scale) * 5) calc(var(--scale) * 35) calc(var(--scale) * 10);
    font-size: calc(var(--scale));
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    user-select: none;
    font-family: Montserrat;
}

.top-section {
    background-color: gray;
}

.middle-section {
    display: grid;
    grid-template-columns: auto auto;
}

.middle-left-section, .middle-right-section {
    overflow-y: scroll;
}

.bottom-section {
    background-color: gray;
    display: grid;
    grid-template-columns: calc(var(--scale) * 10) calc(var(--scale) * 90);
}

.bottom-right-section {
    display: grid;
    grid-template-rows: auto auto;
}

.bottom-right-section div {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.bottom-left-section {
    display: grid;
    grid-template-rows: 50% 50%;
}

#fixtures {
    display: grid;
    grid-template-columns: auto;
}

#fixtures input:checked + label {
    color: orange;
}

#fixtures label {
    transition-duration: .1s;
    font-size: calc(var(--scale) * 2);
}

#fixtures label:hover {
    cursor: pointer;
}

button {
    background-color: gray;
    transition-duration: .1s;
    border-radius: calc(var(--scale) * 1);
    border: rgb(61, 61, 61) solid calc(var(--scale) * 0.2);
    font-size: calc(var(--scale));
    font-family: Montserrat;
    height: 100%;
}

button:hover {
    background-color: lightgray;
    cursor: pointer;
}

@media (min-aspect-ratio: 2/1) {
    html, body {
        --scale: 2vh;
    }
}